.rightContents__messages--messageNameAndDate
  %ul
    %li.messageName ryosukemaehira
    %li.messageDate 2016/10/12 06:27:07
.rightContents__messages--messageText なるほど
.rightContents__messages--messageNameAndDate
  %ul
    %li.messageName ryosukemaehira
    %li.messageDate 2016/10/12 06:27:25
.rightContents__messages--messageText command Enterで送信したい感ある
.rightContents__messages--messageNameAndDate
  %ul
    %li.messageName ryosukemaehira
    %li.messageDate 2016/10/12 06:27:30
.rightContents__messages--messageText お腹すいた
