

%div.left_contents
  %div.left_header
    %h3.header__name ryosukemaehira
    %div.header__lists
      %ul
        %li.memo
          = image_tag "メモ.png", size: "16x16", alt: "メモ"
        %li.setting
          = image_tag "設定.png", size: "16x16", alt: "設定"
  %div.groups
    %ul
      %li
        %p.group__name 神
        %p.group__message まだメッセージはありません。
      %li
        %p.group__name aaaaaaaa
        %p.group__message まだメッセージはありません。
      %li
        %p.group__name sampleグループ
        %p.group__message まだメッセージはありません。

%div.right_contents
  %div.right_header
    %h3.header__name Sampleグループ
    %p.header__member Member: ryosukemaehira
  %div.messages
    %ul
      %li.message_name_and_date
        %ul
          %li.message_name ryosukemaehira
          %li.message_date 2016/10/12 06:27:07
      %li.message_text なるほど
    %ul
      %li.message_name_and_date
        %ul
          %li.message_name ryosukemaehira
          %li.message_date 2016/10/12 06:27:25
      %li.message_text command Enterで送信したい感ある
    %ul
      %li.message_name_and_date
        %ul
          %li.message_name ryosukemaehira
          %li.message_date 2016/10/12 06:27:30
      %li.message_text お腹すいた

  %div.form

