

.leftContents
  .leftContents__leftHeader
    %h3 ryosukemaehira
    .leftContents__leftHeader--headerLists
      %ul
        %li.memo
          =link_to root_path do
            %i.fas.fa-edit
        %li.setting
          =link_to root_path do
            %i.fas.fa-cog

  .leftContents__groups
    = render partial: "groups"

.rightContents
  .rightContents__rightHeader
    = link_to("Edit", '#', class: "Edit")

    %h3.headerName Sampleグループ
    %p.headerMember Member: ryosukemaehira
  .rightContents__messages
    = render partial: "messages"
  .rightContents__form
    %input{:name => "title", :size => "40", :value => "type a message"}
    .rightContents__form--uploadImages
      =link_to root_path do
        %i.fas.fa-image
    %input{:type => "submit", :value => "send"}



