

.left_contents {
  float: left;
  width: 300px;

  .left_header {
    height: 100px;
    background-color: #253141;
    padding: 0 20px;

    h3 {
      color: white;
      font-size: 16px;
      font-weight: bold;
      vertical-align:middle;
      line-height: 100px;
      width: 200px;
      float: left;
    }

    .header__lists {
       float: right;
       height: 100px;
       width: 38px;

      ul .memo{
        float: left;
        width: 16px;
        height: 100px;

        .fas.fa-edit{
          color: white;
          position: relative;
          top: 46%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      ul .setting{
       float: right;
       width: 16px;
       height: 100px;

        .fas.fa-cog{
          color: white;
          position: relative;
          top: 46%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    ul li .group__name{
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 15px;
      color: white;
    }

    ul li .group__message{
      padding-bottom: 20px;
      font-size: 11px;
      color: white;
    }
  }
}

.right_contents {
  position: absolute;
  top: 0px;
  left: 300px;
  width: calc(100% - 300px);
  min-width: 300px;

  .right_header {
  height: 100px;
  background-color: white;
  padding: 0 40px;

    h3{
      padding-top: 35px;
      font-size: 20px;
      width: 500px;
      color: #333333;
    }

    p{
      padding-top: 15px;
      font-size: 12px;
      width: 500px;
      color: #999999;
    }

    input[type="submit"] {
      float:right;
      margin-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
      background-color: white;
      color: #38AEF0;
      border-color: #38AEF0;
    }
  }

  .messages {
    background-color: #FAFAFA;
    height: calc(100vh - 100px - 90px);
    padding: 6px 40px 0 40px;

    .message_name_and_date {
      padding-top: 40px;
      padding-bottom: 10px;

      ul .message_name {
        float: left;
        font-size: 16px;
        color: #434A54;
        padding-right: 10px;
      }
      ul .message_date {
        float: left;
        font-size: 12px;
        line-height: 24px;
        vertical-align: middle;
        color: #999999;
      }
    }
    .message_text {
      padding-top: 10px;
      font-size: 14px;
      color: #434A54;
      clear: both;
    }
  }

  .form {
    height: 90px;
    box-sizing: border-box;
    background-color: #DDDDDD;
    padding: 20px 40px;

    input {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      height: 50px;
      border: 0px;
      width: calc(100% - 167px);
    }

    .upload__images {
      float:left;
      height: 50px;
      width: 32px;
      background-color: white;

      .fas.fa-image {
        position: relative;
        top: 46%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    input[type="submit"] {
      float:right;
      height: 50px;
      width: 100px;
      background-color: #38AEF0;
      color: white;
    }
  }
}










