

.left_contents {
  float: left;
  width: 300px;
  }

.left_contents .left_header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px
}

.left_contents .left_header h3{
  color: white;
  font-size: 16px;
  font-weight: bold;
  vertical-align:middle;
  line-height: 100px;
  width: 200px;
  float: left;
}

.left_contents .left_header .header__lists {
  float: right;
  height: 100px;
  width: 35px;
}

.left_contents .left_header .header__lists ul .memo{
  float: left;
  height: 100px;
}

.left_contents .left_header .header__lists ul .setting{
  float: right;
  height: 100px;
}

.left_contents .left_header .header__lists ul li img{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.left_contents .groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.left_contents .groups ul li .group__name{
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 15px;
  color: white;
}

.left_contents .groups ul li .group__message{
  padding-bottom: 20px;
  font-size: 11px;
  color: white;
}

.right_contents {
  position: absolute;
  top: 0px;
  left: 300px;
  width: calc(100% - 300px);
  min-width: 300px;
}

.right_contents .right_header {
  height: 100px;
  background-color: white;
  }

.right_contents .group_messages {
  background-color: #AAAAAA;
  height: calc(100vh - 100px - 90px);
  }

.right_contents .form {
  height: 90px;
  box-sizing: border-box;
  background-color: #DDDDDD;
  padding: 20px 50px 20px 40px;
}

.right_contents .right_header {
  padding: 0 40px;
}

.right_contents .right_header h3{
  padding-top: 35px;
  font-size: 20px;
  color: #333333;
}

.right_contents .right_header p{
  padding-top: 15px;
  font-size: 12px;
  color: #999999;

}















